@using MicCRM.Models.StudentViewModels
@model IEnumerable<StudentInfoViewModel>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <tr class="row100" id="@item.Id">
        <td class="column100 column1" data-column="column1">
            <input id="@item.Id" asp-for="@item.IsWorker" name="app">
        </td>
        <td class="column100 column2" data-column="column2">@item.FirstName</td>
        <td class="column100 column3" data-column="column3">@item.LastName</td>
        <td class="column100 column4" data-column="column4">@item.Phone1</td>
        <td class="column100 column5" data-column="column5">@item.Phone2</td>
        <td class="column100 column6" data-column="column6">@item.Email</td>
        <td class="column100 column7" data-column="column7">@item.Date.ToShortDateString()</td>
        <td class="column100 column8" data-column="column8">@item.Description</td>
        <th class="column100 column9" data-column="column9">@item.X</th>
        <th class="column100 column10" data-column="column10">@item.Y</th>
        <th class="column100 column11" data-column="column11">@item.Z</th>
        <td class="column100 column12 studTableBtn" data-column="column12">
            <button onclick="getStudentLessons(this)" data-toggle="modal" data-target="#myModal" id="@item.Id">Lessons</button>
        </td>
        <td class="column100 column13" data-column="column13">
            <a href="#">Edit</a>
        </td>
    </tr>
}

