@using MicCRM.Helpers
@using MicCRM.Models.ApplicantViewModels
@model PaginatedList<ApplicantInfoViewModel>
@{
    int index = 1;
    Layout = null;
}


@foreach (var item in Model)
{
    <tr class="row100" id="@item.Id">
        <td class="column100 column1" data-column="column1">
            <input id="@item.Id" asp-for="@item.IsStudent" name="app">
        </td>
        <td class="column100 column2" data-column="column2">@item.FirstName</td>
        <td class="column100 column3" data-column="column3">@item.LastName</td>
        <td class="column100 column4" data-column="column4">@item.Phone1</td>
        <td class="column100 column5" data-column="column5">@item.Phone2</td>
        <td class="column100 column6" data-column="column6">@item.Email</td>
        <td class="column100 column7" data-column="column7">@item.Date.ToShortDateString()</td>
        <td class="column100 column8" data-column="column8">
            <button type="button" onclick="getApplicantDescription(this)" data-toggle="modal" data-target="#descriptionModal" value="@item.Description">View</button>
        </td>
        <td class="column100 column9" data-column="column9">
            <button type="button" onclick="getApplicantLesson(this)" data-toggle="modal" data-target="#myModal" id="@item.Lesson.Id">Lesson</button>
        </td>
        <td class="column100 column10" data-column="column10">
            <a href="/Applicant/Edit?id=@item.Id">Edit</a>
        </td>
    </tr>
    index++;
}